<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">


    <servlet>
        <servlet-name>boardListServlet</servlet-name>
        <servlet-class>myboard.controller.BoardListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>boardListServlet</servlet-name>
        <url-pattern>/board/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertFormServlet</servlet-name>
        <servlet-class>myboard.controller.InsertFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertFormServlet</servlet-name>
        <url-pattern>/board/insertForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>saveServlet</servlet-name>
        <servlet-class>myboard.controller.SaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveServlet</servlet-name>
        <url-pattern>/board/save</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>detailServlet</servlet-name>
        <servlet-class>myboard.controller.DetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailServlet</servlet-name>
        <url-pattern>/board/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateFormServlet</servlet-name>
        <servlet-class>myboard.controller.UpdateFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateFormServlet</servlet-name>
        <url-pattern>/board/updateForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>myboard.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/board/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>myboard.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/board/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginFormServlet</servlet-name>
        <servlet-class>myboard.controller.LoginFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginFormServlet</servlet-name>
        <url-pattern>/board/loginForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>myboard.controller.LoginServlet</servlet-class>
        <init-param>
            <param-name>defaultId</param-name>
            <param-value>ojh</param-value>
        </init-param>
        <init-param>
            <param-name>defaultPassword</param-name>
            <param-value>pw</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/board/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>myboard.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/board/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>hello.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>
